*{
    color: red;
}
h1.title{
    background-color: orange;
    color: brown;
    text-align: center;
}
.title{
    background-color: aqua;
    color: green;
}
h1{
    color: blue;
    font-size: 50px;
}
h2.baslik.renk.aktif{
    background-color: rgb(251, 0, 255)!important;
}
h2.baslik.renk{
    background-color: rgb(0, 21, 255);
}
h2.baslik{
    background-color: orangered;
}
h2{
    background-color: aqua;
}
p.p-2{
    background-color: aquamarine;
}
span.spanEl{
    background-color: chocolate;
}


