div.kutu-1{
    background-color: blueviolet;
    text-align: center;
    padding-right: 10px;
}
div.kutu-1 span.spanEl{
    color: white;
}

div.kutu-2{
    background-color: red;
}

p.kutu-3{
    background-color: green;
    width: 100px;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
}