div.container{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:flex-start;
    height: 100vh;
    gap: 1rem;
    flex-wrap: wrap-reverse;
    align-content: center;
}
.container > div{
    width: 100px;
    text-align: center;
    padding: 20px;
    height: 15vh;
}
div.container div:first-child{
    background-color: blueviolet;
    flex: 0 0 250px;
}
div.container div:nth-child(2){
    background-color: hotpink;
    flex: 0 0 250px;
    margin-right: 40px;
}
div.container div:nth-child(3){
    background-color: gold;
    flex: 1 3 250px;
    
}
div.container div:nth-child(4){
    background-color: red;
    flex: 0 0 250px;
    
}
div.container div:last-child{
    background-color: green;
    flex:0 0 250px;
    margin-right: 50px ;
    
}